body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* table {
    width: 900px;
    margin: 0 auto;
  } */
  
  h1, h2 {
    margin: 10px 0;
  }
  
  .header, .nav, .sidebar, .footer {
    background-color: #dddddd;
  }
  
  .nav {
    background-color: #eeeeee;
  }
  
  .sidebar a {
    display: block;
    margin: 5px 0;
  }
  
  .staff-table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  .staff-table td {
    border: 1px solid black;
    padding: 10px;
  }
  
  footer {
    margin-top: 40px;
    padding: 20px 0;
    background-color: #dddddd;
  }
  